/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover{
    text-decoration:none;
}
body{
    font-size:16px;
    font-family: 'Noto Sans TC', sans-serif;
}

.imageBlock{
    max-width:100%;
    height:80vh;
    overflow:hidden;
    .largeRow{
        width:70%;
        float:left;
       .img{
           height:80vh;
           background-size: cover;
           background-repeat: no-repeat;
           background-position: bottom;
        }
    }
    .smallRow{
        width:30%;
        float:right;
        .img{
            height:40vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}


.roomInfo{
    display:flex;
    margin-left:5%;
    margin-right:5%;
    margin-top:5rem;
    margin-bottom:2rem;
    font-size:14px;
    
    .roomInfo-left{
        width:50%;
        .room-name{
            font-size:2rem;
        }
        .room-shortDescription{
            margin-top:3rem;
            li{
                margin-top:1rem;
                margin-bottom:1rem;
            }
        }
        .room-description{
            margin-top:2rem;
            font-size:0.8rem;
            color:#6D7278;
            line-height:1.5rem;
        }
        .room-checkInAndOut{
            margin-top:3rem;
            margin-bottom:1rem;
            .room-checkIn{
                margin-right:35%;
                span{
                    font-size:1.25rem;
                }
            }
            span{
                font-size:1.25rem;
            }
            p{
                font-size:0.8rem;
                margin-bottom:6px;
            }
            display:flex;
        }
        .amenities{
            display:flex;
            flex-direction:row;
            flex-wrap:nowrap;
            background-color:#F0F0F0;
            li{
               text-align:left;
               padding-top:1rem;
               padding-bottom:1rem;
               padding-left:0.5rem;
               width:33.33333%;
               i{
                   width:16px; // 固定寬度已解決旁邊文字顯示不一的問題
                   margin-right:2px;
               }
            }
            
        }
    }
    .roomInfo-middle{
        width:15%;
        text-align:right;
        .room-normalDay{
            span{
                font-size:1.5rem;
            }
            h4{
                margin-top:1rem;
                color:#6D7278;
                font-size:0.8rem;
            }
        }
        .room-holiday{
            margin-top:2rem;
            font-size:0.8rem;
            h4{
                margin-top:1rem;
                color:#6D7278;
            }
        }
    }
    .roomInfo-right{
        width:35%;
        padding-left:8vw;
        text-align:left;
        .calnedar-section{
            margin-bottom:2rem;
        }
        .roomForm{
            font-size:0.875rem;
            position:absolute;
            left:70%;
            display:flex;
            text-align:center;
            padding:1rem;
            .price{
                display:flex;
                justify-content:flex-end;
                font-size:3rem;
                color:red;
            }
            .needs-validation{
               width:300px;
               padding-left:2rem;
                .input-group{
                    label{
                      margin-top:0.8rem;
                      margin-bottom:0.8rem;
                    }
                   .input-item{
                        width:300px;
                    }
                }
                .price{
                    margin-bottom:2rem;
                }
            }
            .normalAndHoliday{
                margin-top:2rem;
                margin-bottom:2rem;
            }
            .show-normalDay,.show-holiday{
                background-color:#EDEDED;
                color: #6D7278;
                padding:1rem;
                display:flex;
                justify-content:space-between;
            }
            
        }
    }
    
}
.shown{
    display:block;
}

.false{
    opacity:0.2;
}

#demo-1{
    display:none;
}

.lightpick{
    display:inline;
}

@media(max-width:800px){
    .roomInfo{
        flex-direction:column;
            .roomInfo-left{
                width:100%;
            }
            .roomInfo-middle{
                width:100%;
                text-align:center;
                display:flex;
                flex-direction:flex-start;
                margin-top:2rem;
                .room-normalDay{
                    span{
                        font-size:1.5rem;
                    }
                    h4{
                        margin-top:1rem;
                        color:#6D7278;
                        font-size:0.8rem;
                    }
                }
                .room-holiday{
                    padding-top:0.75rem;
                    margin-top:0;
                    margin-left:37%;
                    font-size:0.8rem;
                    h4{
                        
                        color:#6D7278;
                    }
                }
            }
            .roomInfo-right{
                width:100%;
                margin-top:3rem;
                padding-left:0;
                text-align:center;
                .calnedar-section{
                    margin-bottom:2rem;
                }
                .roomForm{
                    position:relative;
                    left:0;
                    margin-left:5%;
                }
               
            }
    }
    
}

.swiper-container{
    position: relative;
    width:auto;
    height:100vh;
    display:flex;
    justify-content:center;
        .swiper-slide{
            background-position: center;
            background-size: cover;  
        }
        .shop-info{
            .shop-link{
                margin-top:14%;
            }
            position:absolute;
            top:20%;
            display:flex;
            color:black;
            font-weight:500;
            z-index:999;
            ul{
                border-left:3px solid black;
                padding-left:2rem;
            }
            i{
                margin-right:1rem;
            }
            li{
                padding-top:1rem;
            }
            li:last-child{
                i{
                    margin-right:0.85rem;
                }
            }
            
            
            a,a:hover{
                color:black;
            }
        }
}

.container-custom{
    margin:0 auto;
    width:80vw;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap:1rem;
    position:relative;
    top:-5rem;
    z-index:1;
    li{
        display:block;
    }
    li:hover{
        -webkit-box-shadow: 6px 12px 14px 0px rgba(159,159,179,1);
        -moz-box-shadow: 6px 12px 14px 0px rgba(159,159,179,1);
        box-shadow: 6px 12px 14px 0px rgba(159,159,179,1);
    }
    .card{
        .img-fluid{
            width:100%;
            height:240px;
            object-fit:cover;
        }
        .small{
            font-size:0.5rem;
        }   
        .card-textBlock{
            position:relative;
            background: #F7F7F7;
            color:black;
            padding-left:0.5rem;
            padding-right:0.5rem;
            padding-top:1rem;
            padding-bottom:1rem;
        }
        .price{
            display:flex;
            justify-content: space-between;
        }
    }
    
}




@media(max-width:768px){
    
    .container-custom{
         grid-template-columns: auto auto;
         grid-gap:1rem;
    }
    .swiper-container{
        display:flex;
        justify-content:center;
        .shop-info{
            
            top:20%;
        }
    }
}
@media(max-width:600px){
    .container-custom{
         grid-template-columns: auto;
    }
   
}
